<script>
  var $container = $('#container');
  $('#container').isotope({
    itemSelector : '.item',
    layoutMode : 'fitColumns'
  });
</script>
<% if current_user.locations.count > 0 %>
<div class="text-center">
  <!-- restaurant lookup -->
  <div class="well pop add-search">
    <p class="lead orange">Add some restaurants to your list!</p>
    <form accept-charset="UTF-8" action="/lists/new" method="get" role="form" id='add-form'>
      <input id="location" name="location" type="text" value="<%= session[:search_location] %>"/><br>
      <input id="term" name="term" type="text" placeholder="restaurant name"/><br>
      <input name="commit" class="btn btn-primary" type="submit" value="Search"/>
    </form>
  </div>
<!-- curated lists -->
<% unless params[:term] %>
  <div class="well pop curated-list">
    <p class="lead">Thrillist's Best Burgers in NYC</p>
    <br>
    <% if @thrillist_count < @thrillist_total%>
      <div class="curated-info" id="thrillist">
        <p><%= @thrillist_count %>/<%= @thrillist_total %> on your list</p>
        <span class="curated-buttons">
          <a class="btn btn-warning list-read" href="http://www.thrillist.com/eat/new-york/the-best-burgers-in-nyc" target="_blank">Read</a>
          <a class="btn btn-warning list-add" id='thrillist' href="/lists/add_curated?curated=thrillist-burger" data-method="post" data-remote="true">Add</a>
        </span>
      </div>
    <% else %>
      <p class="orange"><%= @thrillist_count %>/<%= @thrillist_total %> on your list</p>
      <a class="btn btn-warning list-read" href="http://www.thrillist.com/eat/new-york/the-best-burgers-in-nyc" target="_blank">Read</a>
    <% end %>
  </div>
  <div class="well pop curated-list">
    <p class="lead">Zagat's Best Pizza in NYC</p>
    <br>
    <% if @zagat_count < @zagat_total%>
      <div class="curated-info" id="zagat">
        <p><%= @zagat_count %>/<%= @zagat_total %> on your list</p>
        <span class="curated-buttons">
          <a class="btn btn-warning list-read" href="http://www.zagat.com/l/new-york-city/best-pizza-in-nyc" target="_blank">Read</a>
          <a class="btn btn-warning list-add" id='zagat' href="/lists/add_curated?curated=zagat-pizza" data-method="post" data-remote="true">Add</a>
        </span>
      </div>
    <% else %>
      <p class="orange"><%= @zagat_count %>/<%= @zagat_total %> on your list</p>
      <a class="btn btn-warning list-read" href="http://www.zagat.com/l/new-york-city/best-pizza-in-nyc" target="_blank">Read</a>
    <% end %>
  </div>
  <div class="well pop curated-list">
    <p class="lead">Seriouseats' Best Ramen in NYC</p>
    <br>
    <% if @seriouseats_count < @seriouseats_total%>
      <div class="curated-info" id="seriouseats">
        <p><%= @seriouseats_count %>/<%= @seriouseats_total %> on your list</p>
        <span class="curated-buttons">
          <a class="btn btn-warning list-read" href="http://newyork.seriouseats.com/2013/09/best-ramen-nyc-ippudo-hide-chan-yuji-yebisu-totto-chuko-bassanova.html" target="_blank">Read</a>
          <a class="btn btn-warning list-add" id='seriouseats' href="/lists/add_curated?curated=seriouseats-ramen" data-method="post" data-remote="true">Add</a>
        </span>
      </div>
    <% else %>
      <p class="orange"><%= @seriouseats_count %>/<%= @seriouseats_total %> on your list</p>
      <a class="btn btn-warning list-read" href="http://newyork.seriouseats.com/2013/09/best-ramen-nyc-ippudo-hide-chan-yuji-yebisu-totto-chuko-bassanova.html" target="_blank">Read</a>
    <% end %>
  </div>
</div>
<% else %>
  <!-- search results -->
  <% if @yelp %>
    <div class="well text-center pop lead" id='search-results'>
      <p style="color: orange;"><%= params[:term].split.map(&:capitalize).join(' ') %><span style="color: white;"> in </span><%= params[:location] %>
  <% if @yelp["message"]["code"] != 0 %>
        <p>No results!</p>
    </div>
  <% else %>
    </div>
    <div id="container">
    <% @results.each do |place| %>
      <div class="card text-center item pop" style="margin-bottom: 20px; height: 255px;">
        <p class="lead"><%= place.name %></p>
        <p><%= place.cuisine %></p>
        <% if place.locations.take.hood %>
          <p><%= place.locations.take.hood %>, <%= place.locations.take.city %></p>
        <% else %>
          <p><%= place.locations.take.ciy %></p>
        <% end %>
        <p><a href="<%= place.yelp_url %>" target="_blank">
          <img class="yelp_link" src="<%= place.image %>"/>
        </a></p>
        <div class="add_area">
          <% if current_user.restaurants.exists?(place.id) %>
            <p class="orange">On your List</p>
          <% else %>
            <a class="btn btn-default btn-primary add_button" href="/lists/create?id=<%= place.id %>" data-method="post" data-remote="true">Add to List</a>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>
<% end %>
<!-- address form (default hidden) -->
<div class="well text-center pop" id="address-form">
  <form role="form">
    <input type="text" class="text-center" id="address_input" placeholder="Street Address">
    <input type="text" class="text-center" id="city_input" placeholder="City">
    <input type="text" class="text-center" id="state_input" placeholder="State"><br>
    <button type="submit" class="btn btn-default" id="address_submit">Submit</button>
  </form>
</div>
