<script>
  var $container = $('#container');
  $('#container').isotope({
    // options
    itemSelector : '.item',
    layoutMode : 'fitColumns'
  });
</script>

<% unless params[:term] || current_user.locations.count == 0%>
  <div class="well text-center">
    <p class="lead" style="color:orange;">Add some restaurants to your list!</p>
  </div>
<% end %>

<% if current_user.locations.count > 0 %>
  <div class="text-center">
    <form accept-charset="UTF-8" action="/lists/new" method="get" role="form">
      <label for="location"></label>
      <input id="location" class="form-control" name="location" type="text" value="<%= session[:search_location] %>" style="text-align: center;"/>
      <label for="term"></label>
      <input id="term" class="form-control centered text-center" name="term" type="text" placeholder="restaurant name" style="margin: 10px 0px;"/>
      <label for="search"></label>
      <input name="commit" class="form-control btn btn-primary" type="submit" value="Search"/>
    </form>
  </div>
<% else %>
  <div class="well text-center pop" style="margin-top: 100px; width: 360px; margin-left: auto; margin-right: auto;">
    <h3 class="lead" style="color:orange;">Where are you?<h3>
    <form role="form">
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="address_input" placeholder="Street Address">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="city_input" placeholder="City">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="state_input" placeholder="State">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-default" id="address_submit">Submit</button>
      <br>
      <br>
    </form>
  </div>
  <script>
    $('#address_submit').click(function(){
      if($('#address_input').val() && $('#city_input').val() && $('#state_input').val()){
        $.ajax({
          url: "/users/address_input",
          type: "post",
          data: {address: $('#address_input').val(), city: $('#city_input').val(), state: $('#state_input').val()},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
  </script>
<% end %>
</br>
<% if params[:term] %>
  <% response = HTTParty.get("http://api.yelp.com/business_review_search?term=#{params[:term].split(' ').join('+')}&location=#{params[:location].split(' ').join('+')}&category=restaurants&radius=20&limit=6&ywsid=Q5mQ5eJFseNNaJx9xuXhjQ") %>
  <% @r = response %>

<div class="well text-center pop lead" style="width: 360px; margin-left: auto; margin-right: auto;">
  <p style="color: orange;"><%= params[:term].split.map(&:capitalize).join(' ') %><span style="color: white;"> in </span><%= params[:location] %>
  <% if @r["businesses"].count == 0 %>
    <p>No results!</p>
  <% elsif @r["message"]["code"] == 209 %>
    <p>Try adding a city or state.</p>
  <% end %>
</div>
<% end %>
<div id="container">
  <% if @r %>
    <% @r["businesses"].each do |place| %>
      <% refactored_address = place["address1"]+" "+place["zip"] %>
      <% @address = place["address1"] %>
      <% @db_restaurant = Restaurant.joins(:locations).where('locations.address' => refactored_address).first || Restaurant.joins(:locations).where('locations.address' => @address).first %>
      <div class="card text-center item pop" style="margin-bottom: 20px; height: 255px;">
        <% if @db_restaurant %>
          <% @restaurant = @db_restaurant %>
        <% else %>
          <% @categories = [] %>
          <% place["categories"].each do |category| %>
            <% @categories << category["name"] %>
          <% end %>
          <% @categories = @categories.join(', ') %>
          <% @restaurant = Restaurant.create(name: place["name"], image: place["photo_url"], yelp_url: place["url"], cuisine: @categories) %>
          <% if place["neighborhoods"][0] %>
            <% Location.create(locator_id: @restaurant.id, locator_type: "Restaurant", city: place["city"], state: place["state"], country: place["country"], phone: place["phone"], address: @address, hood: place["neighborhoods"][0]["name"]) %>
          <% else %>
            <% Location.create(locator_id: @restaurant.id, locator_type: "Restaurant", address: @address, city: place["city"], state: place["state"], country: place["country"], phone: place["phone"]) %>
          <% end %>
        <% end %>
        <p class="lead"><%= place["name"] %></p>
        <p><%= @restaurant.cuisine %></p>
        <% if place["neighborhoods"][0] %>
          <p><%=place["neighborhoods"][0]["name"]%>, <%=place["city"]%></p>
        <% else %>
          <p><%=place["city"]%></p>
        <% end %>
        <p><a href="<%= place["url"] %>" target="_blank">
          <img class="yelp_link" src="<%=place["photo_url"]%>"/>
        </a></p>
          <%= button_to('Add to List', "create?id=#{@restaurant.id}", remote: true, :class => 'btn btn-default btn-primary add_button abtn', method: :post) %>
<!--         <p><img src="<%=place["rating_img_url"]%>"/>
        (<%=place["review_count"]%> reviews)</p> -->
<!--         <p><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/dc8ff90d5d7d/developers/Powered_By_Yelp_Black.png"></p> -->
      </div>
    <% end %>
  <% end %>
</div>
<script>
  $('#location').tooltip({
    title: "make sure to include city and state",
    placement: 'right',
    container: 'body'
  });
  // $('#term').tooltip({
  //   title: "look up restaurant by name",
  //   placement: 'right',
  //   container: 'body'
  // });
  $('.add_button').tooltip({
    title: "add this restaurant to your list",
    placement: 'right',
    container: 'body'
  });

  $('.yelp_link').tooltip({
    title: "click to visit yelp page",
    placement: 'right',
    container: 'body'
  });
</script>

