<script>
  var $container = $('#container');
  $('#container').isotope({
    // options
    itemSelector : '.item',
    layoutMode : 'fitRows'
  });
</script>

<div class="text-center">
  <form accept-charset="UTF-8" action="/lists/new" method="get">
    <label for="term"></label>
    <input id="term" name="term" type="text" placeholder="restaurant or cuisine" style="max-width: 150px;"/>
    <input name="commit" type="submit" value="Search" class="btn" />
  </form>

</div>
</br>
</br>
<% if params[:term] && session[:user_location] %>
  <% response = HTTParty.get("http://api.yelp.com/business_review_search?term=#{params[:term].split(' ').join('+')}&lat=#{session[:user_location][0]}&long=#{session[:user_location][1]}&radius=5&limit=9&ywsid=Q5mQ5eJFseNNaJx9xuXhjQ") %>
  <% @r = JSON.parse(response) %>
<% elsif params[:term] %>
  <% response = HTTParty.get("http://api.yelp.com/business_review_search?term=#{params[:term].split(' ').join('+')}&lat=#{request.location.latitude}&long=#{request.location.longitude}&radius=5&limit=9&ywsid=Q5mQ5eJFseNNaJx9xuXhjQ") %>
  <% @r = JSON.parse(response) %>
<% end %>
<div id="container">
  <% if @r %>
    <% @r["businesses"].each do |place| %>
      <% refactored_address = place["address1"]+" "+place["zip"] %>
      <% @db_restaurant = Restaurant.joins(:locations).where('locations.address' => refactored_address).first %>
      <div class="card text-center item pop" style="margin-bottom: 20px;">
        <% if @db_restaurant %>
          <% @restaurant = @db_restaurant %>
        <% else %>
          <% @categories = [] %>
          <% place["categories"].each do |category| %>
            <% @categories << category["name"] %>
          <% end %>
          <% @categories = @categories.join(', ') %>
          <% @restaurant = Restaurant.create(name: place["name"], image: place["photo_url"], yelp_url: place["url"], cuisine: @categories) %>
          <% if place["neighborhoods"][0] %>
            <% Location.create(locator_id: @restaurant.id, locator_type: "Restaurant", city: place["city"], state: place["state"], country: place["country"], phone: place["phone"], address: refactored_address, hood: place["neighborhoods"][0]["name"]) %>
          <% else %>
            <% Location.create(locator_id: @restaurant.id, locator_type: "Restaurant", address: refactored_address, city: place["city"], state: place["state"], country: place["country"], phone: place["phone"]) %>
          <% end %>
        <% end %>
        <p class="lead"><%= place["name"] %></p>
        <% if place["neighborhoods"][0] %>
          <p><%=place["neighborhoods"][0]["name"]%>, <%=place["city"]%></p>
        <% end %>
        <p>
          <img src="<%=place["photo_url"]%>"/>
          <%= button_to('Add to List', "create?id=#{@restaurant.id}", :class => 'btn btn-default btn-primary', method: :post) %>
        </p>
        <p><img src="<%=place["rating_img_url"]%>"/>
        (<%=place["review_count"]%> reviews)</p>
        <p><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/dc8ff90d5d7d/developers/Powered_By_Yelp_Black.png"></p>
      </div>
    <% end %>
  <% end %>
</div>


