<h1>Listing choices</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Search</th>
      <th>Restaurant</th>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @choices.each do |choice| %>
      <tr>
        <td><%= choice.user_id %></td>
        <td><%= choice.search_id %></td>
        <td><%= choice.restaurant_id %></td>
        <td><%= choice.action %></td>
        <td><%= link_to 'Show', choice %></td>
        <td><%= link_to 'Edit', edit_choice_path(choice) %></td>
        <td><%= link_to 'Destroy', choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choice', new_choice_path %>
