<div class="text-center" id="sort-by">
  <a class="btn btn-large" style="margin-top: 5px;">SORT</a>
  <a class="btn btn-large btn-info" href="#lists" style="margin-top: 5px;">Lists</a>
  <a class="btn btn-large btn-info" href="#name" style="margin-top: 5px;">Name</a>
  <a class="btn btn-large btn-info" href="#hood" style="margin-top: 5px;">Neighborhood</a>
</div>
<br>
<div class="text-center" id="filters">
  <a class="btn btn-large">FILTER</a>
  <a class="btn btn-large btn-info filter-click" href="#" data-filter="*">All</a>
  <a class="btn btn-large btn-info filter-click" href="#" data-filter=".favorite">Favorite</a>
  <a class="btn btn-large btn-info" href="#" data-filter=".cuisine" id="cuisine-button">
    <div class="cuisine-input" id="cuisine-show">Cuisine</div>
    <div class="cuisine-input input-group" style="display: none" id="cuisine-filter">
      <input type="text" class="form-control" style="max-width: 100px; text-align: center;" id="cuisine-input">
      <span class="input-group-btn">
        <button class="btn btn-default filter-click" type="button" id="cuisine-submit">Select</button>
      </span>
    </div>
  </a>
</div>
<br>
<div class="text-center" id="asc-desc">
  <a class="btn btn-large">ORDER</a>
  <a class="btn btn-large btn-info" href="#asc">Ascending</a>
  <a class="btn btn-large btn-info" href="#desc">Descending</a>
</div>
<br>
<br>
<div class="text-center" >
  <%= button_to("Add all of "+@user.username+"'s restaurants", "getall?id=#{@user.id}", :class => 'btn btn-warning medium') %>
</div>
<br>
<div id="container">
<% @user.restaurants.each do |restaurant| %>
    <div class="card text-center item pop <%= restaurant.lists.find_by(user_id: @user.id).label %> <%= restaurant.cuisine.split(", ").join(' ') %>">
        <% if restaurant.lists.find_by(user_id: @user.id).label == "favorite" %>
          <p class="lead name" style="color:orange;"><%= restaurant.name %></p>
        <% else  %>
          <p class="lead name"><%= restaurant.name %></p>
        <% end %>
        <p><%=restaurant.cuisine%></p>
        <% if restaurant.locations.last.hood %>
          <p class="hood"><%=restaurant.locations.last.hood%>, <%=restaurant.locations.last.city%></p>
        <% else %>
          <p><%=restaurant.locations.last.city%></p>
        <% end %>
        <div>
          <div class="blockery">
            <a class="text-center"><img src=<%=restaurant.image%>/></p>
          </div>
          <div class="blockery">
            <% if restaurant.lists.count == 1  %>
              <p>On <strong style="color:orange;" class="lists"><%= restaurant.lists.count %></strong> list</p>
            <% else %>
              <p>On <strong style="color:orange;" class="lists"><%= restaurant.lists.count %></strong> lists</p>
            <% end %>
            <% if current_user.restaurants.exists?(restaurant.id) %>
              <p>On your list</p>
            <% else %>
              <%= button_to('Add to List', "/lists/create?id=#{restaurant.id}", :class => 'btn btn-primary btn-small') %>
              <p></p>
            <% end %>
            <p><a href="<%=restaurant.yelp_url%>" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p>
          </div>
        </div>
    </div>
<% end %>
</div>
<script>
  $(function(){
    var $container = $('#container');
    $('#container').isotope({
      // options
      itemSelector : '.item',
      layoutMode : 'fitRows',
      getSortData : {
        name : function ( $elem ) {
          return $elem.find('.name').text();
        },
        lists : function ( $elem ) {
          return parseInt($elem.find('.lists').text());
        },
        hood : function ( $elem ) {
          return $elem.find('.hood').text();
        }
      }
    });

    $('#filters #cuisine-button').click(function(){
      if($("#cuisine-show").is(":visible")){
        $(".cuisine-input").toggle();
        $("#cuisine-input").focus();
      }else{
        $(".cuisine-input").toggle();
      }
      return false;
    });

    $('#cuisine-filter input').keypress(function(e) {
      if(e.which == 13) {
        jQuery(this).blur();
        jQuery('#cuisine-submit').focus().click();
        return false;
      }
    });

    // $('#cuisine-filter input').autocomplete({

    // });

    $('#cuisine-submit').click(function(){
      $('#cuisine-filter input').submit();
      return false;
    });

    $('#cuisine-filter input').submit(function(event){
      event.preventDefault();
      var selector = $("#cuisine-input").val();
      selector = selector.charAt(0).toUpperCase() + selector.slice(1);
      if(selector == "Burger"){
        selector = "Burgers";
      }else if(selector == "Sandwich"){
        selector = "Sandwiches";
      }else if(selector == "Steakhouse"){
        selector = "Steakhouses";
      }else if(selector == "Hotdog"){
        selector = "Dogs";
      }else if(selector == "Desert"){
        selector = "Deserts";
      }
      $("#cuisine-show").html(selector);
      $container.isotope({ filter: "."+selector });
      $(".cuisine-input").toggle();
      return false;
    });

    $('#filters filter-click').click(function(){
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
    });

    $('#sort-by a').click(function(){
      // get href attribute, minus the '#'
      var sortName = $(this).attr('href').slice(1);
      if(sortName == "lists"){
        $('#container').isotope({ sortBy : sortName, sortAscending: false });
      } else{
        $('#container').isotope({ sortBy : sortName });
      }
      return false;
    });

    $('#filters .filter-click').click(function(){
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
    });

    $('#asc-desc a').click(function(){
      var order = $(this).attr('href').slice(1);
      if(order == "asc"){
        $('#container').isotope({ sortAscending: true });
      }else if(order == "desc"){
        $('#container').isotope({ sortAscending: false });
      }
      return false;
    });
  });
</script>









