<% if @restaurants.exists? %>
<div class="buttonry text-center" style="display:none">
  <a class="lead">SORT</a>
  <div class="text-center" id="sort-by">
    <a class="btn btn-medium btn-info" href="#rating" style="margin-top: 5px; margin-bottom: 10px;" id="start">Rating</a>
    <a class="btn btn-medium btn-info" href="#lists" style="margin-top: 5px; margin-bottom: 10px;">Lists</a>
    <a class="btn btn-medium btn-info" href="#name" style="margin-top: 5px; margin-bottom: 10px;">Name</a>
<!--     <a class="btn btn-medium btn-info" href="#hood" style="margin-top: 5px; margin-bottom: 10px;">Neighborhood</a> -->
  </div>
  <a class="lead">FILTER</a>
  <div class="text-center" id="filters">
    <a class="btn btn-medium btn-info filter-click" href="#" data-filter=".favorite" style="margin-top: 5px; margin-bottom: 10px;">Hit List</a>
    <a class="btn btn-medium btn-info" href="#" data-filter=".cuisine" id="cuisine-button" style="margin-top: 5px; margin-bottom: 10px;">
      <div class="cuisine-input" id="cuisine-show">Cuisine</div>
      <div class="cuisine-input input-group" style="display: none" id="cuisine-filter">
        <input type="text" class="form-control" style="max-width: 100px; text-align: center;" id="cuisine-input">
        <span class="input-group-btn">
          <button class="btn btn-default filter-click" type="button" id="cuisine-submit">Select</button>
        </span>
      </div>
    </a>
    <div class="btn-group" style="margin-top: 5px; margin-bottom: 10px;">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" id="selected-location">
        Location
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style="text-align: left;">
        <% @hoods.each do |location| %>
        <li><a class="location-filter" href="#" data-location="<%= location.delete(' ') %>">
          <%= location %>
        </a></li>
        <% end %>
      </ul>
    </div>
    <a class="btn btn-medium btn-info filter-click" href="#" data-filter="*" id="all" style="margin-top: 5px; margin-bottom: 10px;">Reset</a>
  </div>
<!--   <div class="text-center" id="asc-desc">
    <a class="btn btn-medium">ORDER</a>
    <a class="btn btn-medium btn-info" href="#asc">Ascending</a>
    <a class="btn btn-medium btn-info" href="#desc">Descending</a>
  </div> -->
</div>

<br>
<!-- <div class="text-center" id="add_all" >
  <%= button_to("Add all of "+@user.username+"'s restaurants", "getall?id=#{@user.id}", remote: true, :class => 'btn btn-warning medium') %>
</div>
<div id="all_alert" class="text-center pop lead" style="display: none;">
  <p style="color: orange;">Added all restaurants!</p>
</div>
<br> -->
<div id="container">
<% @restaurants.each do |restaurant| %>
    <% list = restaurant.lists.find_by(user_id: @user.id) %>
    <% location = restaurant.locations.last %>
    <% if location.hood %>
      <% location_raw = location.hood.delete(' ') %>
    <% else%>
      <% location_raw = location.city.delete(' ') %>
    <% end %>
    <% @label = list.label  %>
    <% @rating = list.rating %>
    <% if @rating > 0 %>
      <% @formatted_rating = @rating %>
    <% else %>
      <% @formatted_rating = "new" %>
    <% end %>
    <div class="card text-center item pop <%= @label %> <%= restaurant.cuisine.split(", ").join(' ') %> <%= location_raw %>">
      <% if @label == "favorite" %>
        <p class="lead name orange"><%= restaurant.name %></p>
      <% else  %>
        <p class="lead name"><%= restaurant.name %></p>
      <% end %>
      <p><%=restaurant.cuisine%></p>
      <% if location.hood %>
        <p class="hood"><%=location.hood%>, <%=location.city%></p>
      <% else %>
        <p><%= location.city%></p>
      <% end %>
      <div>
        <div class="blockery">
          <a class="text-center" href="<%=restaurant.yelp_url%>" target="_blank"><img class="yelp_link" src=<%=restaurant.image%>/></a>
        </div>
        <div class="blockery">
          <p class="rating" style="display: none"><%= @rating %></p>
          <input type="text" value="<%= @formatted_rating %>" class="dial" data-width="70" data-font="lato" data-height="70" data-fgcolor="orange" data-angleOffset="-125" data-angleArc="250" style="display:none;">
          <% if restaurant.lists.count == 1  %>
            <p>On <strong style="color:orange;" class="lists"><%= restaurant.lists.count %></strong> list</p>
          <% else %>
            <p>On <strong style="color:orange;" class="lists"><%= restaurant.lists.count %></strong> lists</p>
          <% end %>
          <% if current_user.restaurants.exists?(restaurant.id) %>
            <p class="listed">On your list</p>
          <% else %>
            <div class="buttoned">
            <%= button_to('Add to List', "/lists/create?id=#{restaurant.id}", :remote => true, :class => 'btn btn-primary btn-small add_button') %>
            </div>
            <p></p>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
<% else %>
  <h3 class="well text-center orange"><%= @user.username %> needs to add some restaurants...</h3>
<% end %>
</div>
<script>
  $(function(){
    $('.dial').show();
    $('.buttonry').fadeIn(1000);
    $('.dial').knob({
      'readOnly': true
    });
    $('#add_all').click(function(){
      $('#add_all').fadeOut(1000, function(){
        $('#all_alert').fadeIn(1000).fadeOut(8000);
      });
      $('.buttoned').each(function(){
        $(this).fadeOut(500, function(){
          $(this).text("On your list").fadeIn(2000);
        });
      });
    });
    // add button fade out on click
    $('.add_button').on('click', function(event, data, status, xhr){
      if($(this).parent() != $('#add_all')){
        $(this).closest('.buttoned').fadeOut(500, function(){
          $(this).text("On your list").fadeIn(1000);
        });
      }
    });
    // add button fade out on ajax success
    // $('form.button_to[data-remote]').on('ajax:success', function(event, data, status, xhr){
    //   if($(this).parent() != $('#add_all')){
    //     $(this).closest('.buttoned').fadeOut(500, function(){
    //       $(this).text("On your list").fadeIn(1000);
    //     });
    //   }
    // });
    var $container = $('#container');
    $('#container').isotope({
      // options
      itemSelector : '.item',
      layoutMode : 'fitRows',
      getSortData : {
        name : function ( $elem ) {
          return $elem.find('.name').text();
        },
        lists : function ( $elem ) {
          return parseInt($elem.find('.lists').text());
        },
        rating : function ( $elem ) {
          return parseInt($elem.find('.rating').text());
        },
        hood : function ( $elem ) {
          return $elem.find('.hood').text();
        }
      }
    });
    $('#sort-by .btn-info').click(function(){
      $('#sort-by .btn-warning').removeClass('btn-warning').addClass('btn-info');
      $(this).removeClass('btn-info').addClass('btn-warning');
    });
    $('#filters .btn-info').click(function(){
      $('#filters .btn-warning').removeClass('btn-warning').addClass('btn-info');
      if($(this).html() != 'Reset'){
        $(this).removeClass('btn-info').addClass('btn-warning');
      }
    });
    $('.location-filter').click(function(event){
      event.preventDefault();
      var selector = $(this).data('location');
      $container.isotope({ filter: "."+selector });
      $('.dropdown-toggle').click();
      $('#selected-location').html($(this).html());
      $('#cuisine-show').html('Cuisine');
      return false;
    });
    setTimeout(function(){
      $("#start").click().removeClass('btn-warning').addClass('btn-info');
    },300);
    $('#all').click(function(){
      $('#cuisine-show').html("Cuisine");
    });

    $('#filters #cuisine-button').click(function(){
      if($("#cuisine-show").is(":visible")){
        $(".cuisine-input").toggle();
        $("#cuisine-input").focus();
      }else{
        $(".cuisine-input").toggle();
      }
      return false;
    });

    $('#cuisine-filter input').keypress(function(e) {
      if(e.which == 13) {
        jQuery(this).blur();
        jQuery('#cuisine-submit').focus().click();
        return false;
      }
    });

    // $('#cuisine-filter input').autocomplete({

    // });

    $('#cuisine-submit').click(function(){
      $('#cuisine-filter input').submit();
      return false;
    });

    $('#cuisine-filter input').submit(function(event){
      event.preventDefault();
      var selector = $("#cuisine-input").val();
      selector = selector.charAt(0).toUpperCase() + selector.slice(1);
      if(selector == "Burger"){
        selector = "Burgers";
      }else if(selector == "Sandwich"){
        selector = "Sandwiches";
      }else if(selector == "Steakhouse"){
        selector = "Steakhouses";
      }else if(selector == "Hotdog"){
        selector = "Dogs";
      }else if(selector == "Desert"){
        selector = "Deserts";
      }
      $("#cuisine-show").html(selector);
      $('#selected-location').html('Location');
      $container.isotope({ filter: "."+selector });
      $(".cuisine-input").toggle();
      return false;
    });

    $('#filters .filter-click').click(function(){
      var selector = $(this).attr('data-filter');
      if(selector == "*"){
        $('#cuisine-show').html('Cuisine');
        $('#selected-location').html('Location');
      }
      $container.isotope({ filter: selector });
      return false;
    });

    $('#sort-by a').click(function(){
      // get href attribute, minus the '#'
      var sortName = $(this).attr('href').slice(1);
      if(sortName == "lists" || sortName == "rating"){
        $('#container').isotope({ sortBy : sortName, sortAscending: false });
      } else{
        $('#container').isotope({ sortBy : sortName });
      }
      return false;
    });

    $('#filters .filter-click').click(function(){
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
    });

    $('#asc-desc a').click(function(){
      var order = $(this).attr('href').slice(1);
      if(order == "asc"){
        $('#container').isotope({ sortAscending: true });
      }else if(order == "desc"){
        $('#container').isotope({ sortAscending: false });
      }
      return false;
    });

    $('.yelp_link').tooltip({
      title: "click to visit yelp page",
      placement: 'left',
      container: 'body'
    });
    $('.buttoned').tooltip({
      title: "add this restaurant to your list",
      placement: 'right',
      container: 'body'
    });
    $('.dial').tooltip({
      title: "<%= @user.username %>'s rating",
      placement: 'right',
      container: 'body'
    });
    $('.name.orange').tooltip({
      title: "on <%= @user.username %>'s hit list",
      placement: 'top',
      container: 'body'
    });
  });
</script>









