<h1>Edit restaurant</h1>

<form id="edit-restaurant" name="restaurant">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="cuisine"> cuisine:</label>
    <input type="text" name="cuisine" id="cuisine" value="<%= cuisine %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="delivery"> delivery:</label>
    <input type="text" name="delivery" id="delivery" value="<%= delivery %>" >
  </div>

  <div class="field">
    <label for="takeout"> takeout:</label>
    <input type="text" name="takeout" id="takeout" value="<%= takeout %>" >
  </div>

  <div class="field">
    <label for="reservations"> reservations:</label>
    <input type="text" name="reservations" id="reservations" value="<%= reservations %>" >
  </div>

  <div class="field">
    <label for="image"> image:</label>
    <input type="text" name="image" id="image" value="<%= image %>" >
  </div>

  <div class="field">
    <label for="yelp_url"> yelp_url:</label>
    <input type="text" name="yelp_url" id="yelp_url" value="<%= yelp_url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Restaurant" />
  </div>

</form>

<a href="#/index">Back</a>