<div id="container" class="text-center">
  {{#each this}}
  <div class="card text-center item pop {{#each cuisines}}{{this}} {{/each}}{{label}} {{location_raw}}">
  <div class='center-vert'>
    {{#if label}}
    <p class="lead name orange">{{name}}</p>
    {{else}}
    <p class="lead name">{{name}}</p>
    {{/if}}
    <p>{{#each cuisines}}{{this}}  {{/each}}</p>
    <p>{{location}}</p>
    <div class="text-center">
      <div class="blockery">
        <a class="text-center" href="{{yelp_url}}" target="_blank"><img class="yelp_link" src="{{image}}"/></a>
      </div>
      <div class="blockery">
        <p class="rating" style="display: none">{{rating_number}}</p>
        <input type="text" value="{{rating}}" class="dial" data-width="70" data-list="{{list_id}}" data-prev="{{rating_number}}" data-font="lato" data-height="70" data-fgcolor="orange" data-angleOffset="-125" data-angleArc="250">
        <p style="display: none;">Score: <strong style="color:orange;" class="score">{{score}}</strong></p>
        <p class="dist" style="display:none;">{{miles}}</p>
        {{#if walk}}
        <p>{{walk}} min walk!</p>
        {{else}}
        <p>{{miles}} miles</p>
        {{/if}}
        <p class="last_visit" style="display:none;">{{last_choice}}</p>
        <p class="last" style="display: none;">{{last_unix}}</p>
      {{#if list_check}}
        <p>On <strong style="color:orange;">{{lists}}</strong> lists</p>
      {{else}}
        <p>On <strong style="color:orange;">{{lists}}</strong> list</p>
      {{/if}}
{{!--         <p><a href="{{yelp_url}}" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p> --}}
      </div>
      <div class="actions">
{{!--         {{#if hittable}} --}}
        <a class=" fav-button" href="/favorite?id={{list_id}}" data-method="post" data-remote="true" data-list="{{list_id}}"><i class="icon-star icon-white"></i></a>
{{!--         {{/if}} --}}
        <a class="btn btn-small btn-success go-button" href="/restaurants/{{id}}">Directions</a>
        {{#if opentable}}
        <a class="btn btn-small btn-primary reservations" href="{{opentable}}" target="_blank">Reservations</a>
        {{/if}}
        <a class="del-button" href="/remove?id={{list_id}}" data-method="post" data-remote="true" data-confirm="Delete {{name}}?"><i class="icon-trash icon-white"></i></a>
      </div>
    </div>
  </div>
  </div>
  {{/each}}
</div>

<script>

</script>
