
<div id="container" class="text-center">
  {{#each this}}
  <div class="card text-center item pop {{#each cuisines}}{{this}} {{/each}}{{label}} {{location_raw}}">
    {{#if label}}
    <p class="lead name orange">{{name}}</p>
    {{else}}
    <p class="lead name">{{name}}</p>
    {{/if}}
    <p>{{#each cuisines}}{{this}}  {{/each}}</p>
    <p>{{location}}</p>
    <div class="text-center">
      <div class="blockery">
        <a class="text-center" href="{{yelp_url}}" target="_blank"><img class="yelp_link" src="{{image}}"/></a>
      </div>
      <div class="blockery">
        <p class="rating" style="display: none">{{rating_number}}</p>
        <input type="text" value="{{rating}}" class="dial" data-width="70" data-list="{{list_id}}" data-prev="{{rating_number}}" data-font="lato" data-height="70" data-fgcolor="orange" data-angleOffset="-125" data-angleArc="250">
        <p style="display: none;">Score: <strong style="color:orange;" class="score">{{score}}</strong></p>
        <p class="dist" style="display:none;">{{miles}}</p>
        {{#if walk}}
        <p>{{walk}} min walk!</p>
        {{else}}
        <p>{{miles}} miles</p>
        {{/if}}
        <p class="last_visit" style="display:none;">{{last_choice}}</p>
        <p class="last" style="display: none;">{{last_unix}}</p>
      {{#if list_check}}
        <p>On <strong style="color:orange;">{{lists}}</strong> lists</p>
      {{else}}
        <p>On <strong style="color:orange;">{{lists}}</strong> list</p>
      {{/if}}
{{!--         <p><a href="{{yelp_url}}" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p> --}}
      </div>
      <span class="button-span">
{{!--         {{#if hittable}} --}}
        <a class="btn btn-small btn-warning fav-button" href="/favorite?id={{list_id}}" data-method="post" data-remote="true" data-list="{{list_id}}">Hit List</a>
{{!--         {{/if}} --}}
        <a class="btn btn-small btn-success go-button" href="/restaurants/{{id}}">Go</a>
        <a class="btn btn-small btn-danger del-button" href="/remove?id={{list_id}}" data-method="post" data-remote="true" data-confirm="Delete {{name}}?">Delete</a>
      </span>
    </div>
  </div>
  {{/each}}
</div>

<script>
  $(function(){
    $('.dial').knob({
      'change': function(v){
        var list = this.$.data('list');
        var prev = this.$.data('prev');
        if(prev == 0){
          this.$.closest('.card').find('.name').removeClass('orange', 500);
        }
        $.ajax({
          url: "/lists/rate",
          type: "post",
          data: {rating: v, list: list},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            console.log("currypuff");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    var $container = $('#container');
    $('#container').isotope({
      // options
      itemSelector : '.item',
      layoutMode : 'fitRows',
      getSortData : {
        name : function ( $elem ) {
          return $elem.find('.name').text();
        },
        location : function ( $elem ) {
          return $elem.find('.location').text();
        },
        rating : function ( $elem ) {
          return parseInt($elem.find('.rating').text());
        },
        dist : function ( $elem ) {
          return parseFloat($elem.find('.dist').text());
        },
        score : function ( $elem ) {
          return parseInt($elem.find('.score').text());
        }
      }
    });

    $('#sort-by a').click(function(){
      // get href attribute, minus the '#'
      var sortName = $(this).attr('href').slice(1);
      if(sortName == "score" || sortName == "rating"){
        $('#container').isotope({ sortBy : sortName, sortAscending: false });
      } else{
        $('#container').isotope({ sortBy : sortName, sortAscending: true });
      }
      return false;
    });

    $('#filters #cuisine-button').click(function(){
      if($("#cuisine-show").is(":visible")){
        $(".cuisine-input").toggle();
        $("#cuisine-input").focus();
      }else{
        $(".cuisine-input").toggle();
      }
      return false;
    });

    $('#cuisine-filter input').keypress(function(e) {
      if(e.which == 13) {
        jQuery(this).blur();
        jQuery('#cuisine-submit').focus().click();
        return false;
      }
    });

    // $('#cuisine-filter input').autocomplete({

    // });

    $('#cuisine-submit').click(function(){
      $('#cuisine-filter input').submit();
      return false;
    });

    $('#cuisine-filter input').submit(function(event){
      event.preventDefault();
      var selector = $("#cuisine-input").val();
      selector = selector.charAt(0).toUpperCase() + selector.slice(1);
      if(selector == "Burger"){
        selector = "Burgers";
      }else if(selector == "Sandwich"){
        selector = "Sandwiches";
      }else if(selector == "Steakhouse"){
        selector = "Steakhouses";
      }else if(selector == "Hotdog"){
        selector = "Dogs";
      }else if(selector == "Desert"){
        selector = "Deserts";
      }
      $("#cuisine-show").html(selector);
      $('#selected-location').html('Location');
      $container.isotope({ filter: "."+selector });
      $(".cuisine-input").toggle();
      return false;
    });

    $('.location-filter').click(function(event){
      event.preventDefault();
      var selector = $(this).data('location');
      $container.isotope({ filter: "."+selector });
      $('.dropdown-toggle').click();
      $('#selected-location').html($(this).html());
      $('#cuisine-show').html('Cuisine');
      return false;
    });

    $('#filters .filter-click').click(function(){
      var selector = $(this).attr('data-filter');
      if(selector == "*"){
        $('#cuisine-show').html('Cuisine');
        $('#selected-location').html('Location');
      }
      $container.isotope({ filter: selector });
      return false;
    });

    $('#asc-desc a').click(function(){
      var order = $(this).attr('href').slice(1);
      if(order == "asc"){
        $('#container').isotope({ sortAscending: true });
      }else if(order == "desc"){
        $('#container').isotope({ sortAscending: false });
      }
      return false;
    });

    setTimeout(function(){
      $("#start").click().removeClass('btn-warning').addClass('btn-info');
    },400);

    $('.fav-button').on('ajax:success', function(event, data, status, xhr){
      $(this).closest('.card').find('.name').toggleClass('orange', 100);
    });
    $('.del-button').on('ajax:success', function(event, data, status, xhr){
      $card = $(this).closest('.item');
      $container.isotope('remove', $card);
      return false;
    });
    $('.item').hover(function(){
      $(this).find('.button-span').fadeIn();
    });
    $('.item').mouseleave(function(){
      $(this).find('.button-span').fadeOut();
    });

    $('#score_button').tooltip({
      title: "based on distance, rating, and hitlist",
      placement: 'right',
      container: 'body'
    });
    $('.last_visit').tooltip({
      title: "last visit",
      placement: 'right',
      container: 'body'
    });
    $('.yelp_link').tooltip({
      title: "click to visit yelp page",
      placement: 'left',
      container: 'body'
    });
    $('.fav-button').tooltip({
      title: "click to add or remove from your hit list of restaurants you want to try",
      placement: 'bottom',
      container: 'body'
    });
    $('.del-button').tooltip({
      title: "click to remove this place from your list",
      placement: 'bottom',
      container: 'body'
    });
    $('.go-button').tooltip({
      title: "click to get directions and check for delivery",
      placement: 'bottom',
      container: 'body'
    });
    $('.reset').tooltip({
      title: "clear the filter",
      placement: 'right',
      container: 'body'
    });
    $('.dial').tooltip({
      title: "rate this restaurant",
      placement: 'right',
      container: 'body'
    });
  });
</script>
