<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Cuisine:</b>
  <%= cuisine %>
</p>

<p>
  <b>Price:</b>
  <%= price %>
</p>

<p>
  <b>Delivery:</b>
  <%= delivery %>
</p>

<p>
  <b>Takeout:</b>
  <%= takeout %>
</p>

<p>
  <b>Reservations:</b>
  <%= reservations %>
</p>

<p>
  <b>Image:</b>
  <%= image %>
</p>

<p>
  <b>Yelp url:</b>
  <%= yelp_url %>
</p>


<a href="#/index">Back</a>