<% if @locations.count > 0 && (@restaurants.count > 0)%>
<div id="index">
  <!-- loading bubbles -->
  <div class="bubblingG">
    <span id="bubblingG_1"></span>
    <span id="bubblingG_2"></span>
    <span id="bubblingG_3"></span>
  </div>
  <!-- select/add location -->
  <div class="text-center addressor">`
    <select id="address_selector">
      <% @locations.each do |location| %>
      <option value=<%= location.id %>> <%= location.address %>, <%= location.city %> </option>
      <% end %>
      <option value="new">New Address</option>
    </select>
  </div>
  <!-- sort/filter buttons -->
  <div class="buttonry text-center">
    <a class="lead">SORT</a>
    <div class="text-center" id="sort-by">
      <a class="btn btn-medium btn-info" href="#dist">Distance</a>
      <a class="btn btn-medium btn-info" href="#name">Name</a>
      <a class="btn btn-medium btn-info" href="#rating" id="start">Rating</a>
      <a class="btn btn-medium btn-info" id="score_button" href="#score">Special Blend</a>
    </div>
    <a class="lead">FILTER</a>
    <div class="text-center" id="filters">
      <a class="btn btn-medium btn-info filter-click" href="#" data-filter=".favorite">Hit List</a>
      <a class="btn btn-medium btn-info" href="#" data-filter=".cuisine" id="cuisine-button">
        <div class="cuisine-input" id="cuisine-show">Cuisine</div>
        <div class="cuisine-input input-group" style="display: none" id="cuisine-filter">
          <input type="text" class="form-control" id="cuisine-input">
            <span class="input-group-btn">
              <button class="btn btn-default filter-click" type="button" id="cuisine-submit">Select</button>
            </span>
        </div>
      </a>
      <div class="btn-group">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" id="selected-location">
          Location
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="text-align: left;">
          <% @hoods.each do |location| %>
          <li><a class="location-filter" href="#" data-location="<%= location.delete(' ') %>">
            <%= location %>
          </a></li>
          <% end %>
        </ul>
      </div>
      <a class="btn btn-medium btn-info filter-click reset" href="#" data-filter="*">Reset</a>
    </div>
<!--
    <a class="lead">ORDER</a>
    <div class="text-center" id="asc-desc">
      <a class="btn btn-medium btn-info" href="#asc">Ascending</a>
      <a class="btn btn-medium btn-info" href="#desc">Descending</a>
    </div>
-->
  </div>
  <br>
  <!-- backbone template container -->
  <div id="restaurants" class="text-center"></div>
</div>

<% elsif @restaurants.count == 0 %>
<h3 class="well text-center orange">Add some restaurants to access this feature</h3>
<% end %>

<!-- address form for new address (default hidden) -->
<div class="well text-center pop" id="address-form">
  <form role="form">
    <input type="text" class="text-center" id="address_input" placeholder="Street Address">
    <input type="text" class="text-center" id="city_input" placeholder="City">
    <input type="text" class="text-center" id="state_input" placeholder="State"><br>
    <button type="submit" class="btn btn-default" id="address_submit">Submit</button>
  </form>
</div>

