<% if current_user.locations.count > 0 && (current_user.restaurants.count > 0)%>
<div id="index">
  <div class="bubblingG" style="margin-left:auto; margin-right:auto; margin-top: 15%;">
    <span id="bubblingG_1">
    </span>
    <span id="bubblingG_2">
    </span>
    <span id="bubblingG_3">
    </span>
  </div>
  <div class="text-center addressor" style="display: none;">
    <select id="address_selector">
    <% current_user.locations.each do |location| %>
      <option value=<%= location.id %>>
        <%= location.address %>, <%= location.city %>
      </option>
    <% end %>
      <option value="new">New Address</option>
    </select>
  </div>
  <div class="buttonry text-center" style="display:none;">
    <a class="lead">SORT</a>
    <div class="text-center" id="sort-by">
      <a class="btn btn-medium btn-info" href="#dist" style="margin-top: 5px; margin-bottom: 10px;">Distance</a>
      <!-- <a class="btn btn-medium btn-info" href="#last">Last Visit</a> -->
      <a class="btn btn-medium btn-info" href="#name" style="margin-top: 5px; margin-bottom: 10px;">Name</a>
      <!-- <a class="btn btn-medium btn-info" href="#hood">Neighborhood</a> -->
      <a class="btn btn-medium btn-info" href="#rating" id="start" style="margin-top: 5px; margin-bottom: 10px;">Rating</a>
      <a class="btn btn-medium btn-info" id="score_button" href="#score" style="margin-top: 5px; margin-bottom: 10px;">Special Blend</a>
    </div>
    <a class="lead">FILTER</a>
    <div class="text-center" id="filters">
      <a class="btn btn-medium btn-info filter-click" href="#" data-filter=".favorite" style="margin-top: 5px; margin-bottom: 10px;">Hit List</a>
      <a class="btn btn-medium btn-info" href="#" data-filter=".cuisine" id="cuisine-button" style="margin-top: 5px; margin-bottom: 10px;">
        <div class="cuisine-input" id="cuisine-show">Cuisine</div>
        <div class="cuisine-input input-group" style="display: none" id="cuisine-filter">
          <input type="text" class="form-control" style="max-width: 100px; text-align: center;" id="cuisine-input">
          <span class="input-group-btn">
            <button class="btn btn-default filter-click" type="button" id="cuisine-submit">Select</button>
          </span>
        </div>
      </a>
      <div class="btn-group" style="margin-top: 5px; margin-bottom: 10px;">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" id="selected-location">
          Location
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="text-align: left;">
          <% @hoods.each do |location| %>
          <li><a class="location-filter" href="#" data-location="<%= location.delete(' ') %>">
            <%= location %>
          </a></li>
          <% end %>
        </ul>
      </div>
      <a class="btn btn-medium btn-info filter-click reset" href="#" data-filter="*" style="margin-top: 5px; margin-bottom: 10px;">Reset</a>
    </div>
<!--     <a class="lead">ORDER</a>
    <div class="text-center" id="asc-desc">
      <a class="btn btn-medium btn-info" href="#asc" style="margin-top: 5px; margin-bottom: 10px;">Ascending</a>
      <a class="btn btn-medium btn-info" href="#desc" style="margin-top: 5px; margin-bottom: 10px;">Descending</a>
    </div> -->
  </div>
  <br>
  <div id="restaurants" class="text-center"></div>
</div>
<% elsif current_user.restaurants.count == 0 %>
  <h3 class="well text-center"style="color:orange;">Add some restaurants to access this feature</h3>
<% end %>
  <div class="well text-center pop" style="margin-top: 100px; width: 360px; margin-left: auto; margin-right: auto; display: none;" id="address_form">
    <form role="form">
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="address_input" placeholder="Street Address">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="city_input" placeholder="City">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control text-center" id="state_input" placeholder="State">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-default" id="address_submit">Submit</button>
      <br>
      <br>
    </form>
  </div>
<script>
  $(function(){
    <% if current_user.locations.count == 0 %>
      $('#address_form').show();
    <% end %>
    $('#sort-by .btn-info').click(function(){
      $('#sort-by .btn-warning').removeClass('btn-warning').addClass('btn-info');
      $(this).removeClass('btn-info').addClass('btn-warning');
    });
    $('#filters .btn-info').click(function(){
      $('#filters .btn-warning').removeClass('btn-warning').addClass('btn-info');
      if($(this).html() != 'Reset'){
        $(this).removeClass('btn-info').addClass('btn-warning');
      }
    });
    $('#address_selector').val(<%= session[:location_id] %>);
    $('#address_selector').change(function(){
      $('.buttonry, #restaurants, #address_selector').hide();
      $('.bubblingG').show();
      var selected = $('#address_selector').val();
      if(selected == "new"){
        $('#index').hide();
        $('#address_form').fadeIn('slow');
      }else{
        $.ajax({
          url: "/address_input",
          type: "post",
          data: {location_id: selected},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){

            window.location.reload();
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    $('#address_submit').click(function(){
      if($('#address_input').val() && $('#city_input').val() && $('#state_input').val()){
        $.ajax({
          url: "/users/address_input",
          type: "post",
          data: {address: $('#address_input').val(), city: $('#city_input').val(), state: $('#state_input').val()},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    $('#address_selector').tooltip({
      title: "set your location",
      placement: 'right',
      container: 'body'
    });
  });
</script>
