<% if current_user.restaurants.count > 0%>
  <div class="span8 offset2 text-center">
    <div class="text-center">
      <select id="address_selector">
      <% current_user.locations.each do |location| %>
        <option value=<%= location.id %>>
          <%= location.address %>, <%= location.city %>
        </option>
      <% end %>
        <option value="new">New Address</option>
      </select>
    </div>
    <%= button_to('Group Search', 'group', method: :get,  :class => 'btn btn-primary btn-large group_search') %>
  </div>
  <div id="myCarousel" class="carousel span8 offset2 pop" style="margin-top: 25px;">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% if params[:ppl] %>
        <% @ranked_list = group_ranker(params[:ppl]) %>
      <% else %>
        <% @ranked_list = solo_ranker(current_user.id) %>
      <% end %>
      <% @ranked_list.each do |restaurant| %>
        <% if restaurant == @ranked_list[0] %>
          <div class="item active text-center well" id="restaurant_<%= restaurant.id %>">
            <p class="lead"><%=restaurant.name%></p>
            <p><%=restaurant.cuisine%></p>
            <p><%=restaurant.locations.last.hood%></p>
            <p class="testt"></p>
            <div>
              <div class="blockery">
                <% if restaurant.image %>
                  <p class="text-center"><img src=<%=restaurant.image%>/></p>
                <% end %>
              </div>
              <div class="blockery">
                <p id="walk_<%= restaurant.id %>">
                  <% if session[:user_location] %>
                    <%= ((restaurant.locations.last.distance_to(session[:user_location])+0.1)*25).to_i %> min walk
                  <% elsif request.location %>
                    <%= distance(restaurant) %> min walk
                  <% else %>
                    <p>Enable gps for distance</p>
                  <% end %>
                </p>
                <p id="cab_<%= restaurant.id %>"></p>
                <% if params[:ppl] %>
                <p class="group_score">
                  Score: <strong style="color:orange;"><%=group_score(params[:ppl].split(','), restaurant)%></strong>
                </p>
                <% else %>
                <p class="solo_score">
                  Score: <strong style="color:orange;"><%=solo_score(restaurant, current_user.id)%></strong>
                </p>
                <% end %>
                <p><a href="<%=restaurant.yelp_url%>" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p>
              </div>
            </div>
            <div class="text-center">
              <%= button_to('Go', restaurant_path(restaurant), :class => 'btn btn-success btn-large') %>
            </div>
          </div>

        <% else %>
          <div class="item text-center well">
            <p class="lead"><%=restaurant.name%></p>
            <p><%=restaurant.cuisine%></p>
            <p><%=restaurant.locations.last.hood%></p>
            <div>
              <div class="blockery">
                <% if restaurant.image %>
                  <p class="text-center"><img src=<%=restaurant.image%>/></p>
                <% end %>
              </div>
              <div class="blockery">
                <% if session[:user_location] %>
                  <%= ((restaurant.locations.last.distance_to(session[:user_location])+0.1)*25).to_i %> min walk
                <% elsif request.location %>
                  <%= distance(restaurant) %> min walk
                <% else %>
                    <p>Enable gps for distance</p>
                <% end  %>
                </p>
                <% if params[:ppl] %>
                <p class="group_score">
                  Score: <strong style="color:orange;"><%=group_score(params[:ppl].split(','), restaurant)%></strong>
                </p>
                <% else %>
                  <p class="solo_score">
                    Score: <strong style="color:orange;"><%=solo_score(restaurant, current_user.id)%></strong>
                  </p>
                <% end %>
                <p><a href="<%=restaurant.yelp_url%>" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p>
              </div>
            </div>
            <div class="text-center">
              <%= button_to('Go', restaurant_path(restaurant), :class => 'btn btn-success btn-large') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

  </div>
<% else %>
  <h3 class="well text-center"style="color:orange;">Add some restaurants to access this feature</h3>
<% end %>

<script>
  $(function(){
    console.log(<%= session[:location_id] %>)
    $('#address_selector').val(<%= session[:location_id] %>);
    $('#address_selector').change(function(){
      var selected = $('#address_selector').val();
      if(selected == "new"){
        $('#index').hide();
        $('#address_form').fadeIn('slow');
      }else{
        $.ajax({
          url: "/address_input",
          type: "post",
          data: {location_id: selected},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            window.location.reload();
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    $('#address_submit').click(function(){
      if($('#address_input').val() && $('#city_input').val() && $('#state_input').val()){
        $.ajax({
          url: "/users/address_input",
          type: "post",
          data: {address: $('#address_input').val(), city: $('#city_input').val(), state: $('#state_input').val()},
          //contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){
            console.log("success");
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log("fail");
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
          }
        });
      }
    });
    $('#address_selector').tooltip({
      title: "set your location",
      placement: 'right',
      container: 'body'
    });
    $('.group_search').tooltip({
      title: "select who you are eating with, and see what's most likely to please everyone",
      placement: 'right',
      container: 'body'
    });
    $('.solo_score').tooltip({
      title: "based on distance, last visit, favorite",
      placement: 'right',
      container: 'body'
    });
    $('.group_score').tooltip({
      title: "total score for the group, based on each person's individual preferences",
      placement: 'right',
      container: 'body'
    });
  });
</script>
