<div class="span8 offset2 text-center">
<%= button_to('Group Search', 'group', method: :get,  :class => 'btn btn-primary btn-large') %>
</div>
<% if user_signed_in? && (current_user.restaurants.count > 0)%>
  <div id="myCarousel" class="carousel span8 offset2 pop" style="margin-top: 15px;">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% if params[:ppl] %>
        <% @ranked_list = group_ranker(params[:ppl]) %>
      <% else %>
        <% @ranked_list = solo_ranker(current_user.id) %>
      <% end %>
      <% @ranked_list.each do |restaurant| %>
        <% if restaurant == @ranked_list[0] %>
          <div class="item active text-center well" id="restaurant_<%= restaurant.id %>">
            <p class="lead"><%=restaurant.name%></p>
            <p><%=restaurant.cuisine%></p>
            <p><%=restaurant.locations.last.hood%></p>
            <p class="testt"></p>
            <div>
              <div class="blockery">
                <% if restaurant.image %>
                  <p class="text-center"><img src=<%=restaurant.image%>/></p>
                <% end %>
              </div>
              <div class="blockery">
                <p id="walk_<%= restaurant.id %>">
                  <% if session[:user_location] %>
                    <%= ((restaurant.locations.last.distance_to(session[:user_location])+0.1)*25).to_i %> min walk
                  <% elsif request.location %>
                    <%= distance(restaurant) %> min walk
                  <% end %>
                </p>
                <p id="cab_<%= restaurant.id %>"></p>
                <% if params[:ppl] %>
                  Score: <strong style="color:orange;"><%=group_score(params[:ppl].split(','), restaurant)%></strong>
                <% else %>
                  <p>
                    Score: <strong style="color:orange;"><%=solo_score(restaurant, current_user.id)%></strong>
                  </p>
                <% end %>
                <p><a href="<%=restaurant.yelp_url%>" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p>
              </div>
            </div>
            <div class="text-center">
              <%= button_to('Go', restaurant_path(restaurant), :class => 'btn btn-success btn-large') %>
            </div>
          </div>

        <% else %>
          <div class="item text-center well">
            <p class="lead"><%=restaurant.name%></p>
            <p><%=restaurant.cuisine%></p>
            <p><%=restaurant.locations.last.hood%></p>
            <div>
              <div class="blockery">
                <% if restaurant.image %>
                  <p class="text-center"><img src=<%=restaurant.image%>/></p>
                <% end %>
              </div>
              <div class="blockery">
                <% if session[:user_location] %>
                    <%= distance(restaurant) %> min walk
                <% elsif request.location %>
                  <p id="walk_<%= restaurant.id %>">
                  <%= ((restaurant.locations.last.distance_to(request.location.coordinates)+0.1)*25).to_i %> min walk
                <% end  %>
                </p>
                <p id="cab_<%= restaurant.id %>"></p>
                <% if params[:ppl] %>
                  Score: <strong style="color:orange;"><%=group_score(params[:ppl].split(','), restaurant)%></strong>
                <% else %>
                  <p>
                    Score: <strong style="color:orange;"><%=solo_score(restaurant, current_user.id)%></strong>
                  </p>
                <% end %>
                <p><a href="<%=restaurant.yelp_url%>" target="_blank"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png"></a></p>
              </div>
            </div>
            </br>
            </br>
            <div class="text-center">
              <%= button_to('Go', restaurant_path(restaurant), :class => 'btn btn-success btn-large') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

  </div>
<% end %>
