<% if current_user.restaurants.count > 0 && current_user.locations.count > 0 %>
<div class="text-center" id="results">
  <div class="blockery">
    <div class="text-center">
      <!-- user location select -->
      <select id="address_selector" style="width:300px;">
      <% current_user.locations.each do |location| %>
        <option value=<%= location.id %>>
          <%= location.address %>, <%= location.city %>
        </option>
      <% end %>
        <option value="new">New Address</option>
      </select>
    </div>
    <!-- buddy select -->
    <div class="people">
      <select class="selectpicker" multiple>
        <% @buddies.each do |buddy|  %>
        <option data-subtext="<%= buddy.restaurants.count %> restaurants"><%= buddy.username %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="blockery">
    <a class="btn btn-warning btn-large" id="search_button">Search</a>
  </div>
  <!-- search results -->
  <div id="picks">
  <% @picks.each do |restaurant| %>
    <div class="pick text-center well pop">
      <p class="lead name"><%= restaurant.name %></p>
      <p><%= restaurant.cuisine %></p>
      <p><%= restaurant.locations.last.hood %></p>
        <div class="info">
          <div class="blockery">
            <% if restaurant.image %>
              <p class="text-center"><img src=<%= restaurant.image %>/></p>
            <% end %>
          </div>
          <div class="blockery">
            <p><%= miles_or_min(restaurant) %></p>
            <p class="yelp_link"><a href="<%=restaurant.yelp_url%>" target="_blank">
              <img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/55e2efe681ed/developers/yelp_logo_50x25.png">
            </a></p>
          </div>
          <div class="text-center blockery actions">
            <p><a class="btn btn-medium btn-success go_btn" href="/restaurants/<%= restaurant.id %>">Directions</a></p>
            <% opentable = restaurant.opentable %>
            <% if opentable && opentable != 'na' %>
            <p><a class="btn btn-medium btn-primary reservations" href="<%= restaurant.opentable %>" target="_blank">Reservations</a></p>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
  </div>
<% elsif current_user.restaurants.count == 0 %>
  <h3 class="well text-center orange">Add some restaurants to access this feature</h3>
<% end %>
</div>
<!-- loading bubbles -->
<div class="bubblingG bubblingGS">
  <span id="bubblingG_1"></span>
  <span id="bubblingG_2"></span>
  <span id="bubblingG_3"></span>
</div>
<!-- new address form -->
<div class="well text-center pop" id="address-form">
  <form role="form">
    <input type="text" class="text-center" id="address_input" placeholder="Street Address">
    <input type="text" class="text-center" id="city_input" placeholder="City">
    <input type="text" class="text-center" id="state_input" placeholder="State"><br>
    <button type="submit" class="btn btn-default" id="address_submit">Submit</button>
  </form>
</div>
