<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @search.user_id %>
</p>

<p>
  <strong>Method filter:</strong>
  <%= @search.method_filter %>
</p>

<p>
  <strong>Cuisine filter:</strong>
  <%= @search.cuisine_filter %>
</p>

<p>
  <strong>Price filter:</strong>
  <%= @search.price_filter %>
</p>

<p>
  <strong>Members:</strong>
  <%= @search.members %>
</p>

<p>
  <strong>Time:</strong>
  <%= @search.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @search.date %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @search.ip_address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @search.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @search.longitude %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
