<%= link_to "Foodoo", new_search_path, :class => 'brand', :id => 'brand' %>
<% if user_signed_in? %>
  <ul class="nav">
      <li>
        <%= link_to('Pick a Place!', new_search_path, :method=>'get') %>
      </li>
      <li>
        <%= link_to('My List', restaurants_path, :method=>'get') %>
      </li>
      <li>
        <%= link_to('Add Restaurants', new_list_path) %>
      </li>
      <li>
        <%= link_to('Friends', '/lsearch') %>
      </li>
  </ul>
<% end %>
<ul class='nav pull-right'>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
