<a class="brand" id="brand" data-toggle="collapse" data-target=".nav-collapse">Foodoo</a>
<% if user_signed_in? %>
  <ul class="nav pull-right">
      <li>
        <%= link_to('Pick', new_search_path, :method=>'get') %>
      </li>
      <li>
        <%= link_to('List', restaurants_path, :method=>'get') %>
      </li>
      <li>
        <%= link_to('Add', new_list_path) %>
      </li>
      <li>
        <%= link_to('Friends', '/lsearch') %>
      </li>
  </ul>
  <div class="nav">
    <ul class="nav nav-settings" style="display: none;">
      <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
    </ul>
  </div>
<% else %>
  <ul class='nav pull-right'>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li>
      <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  </ul>
<% end %>
<script>
  $("#brand").click(function(){
    if($(".nav-settings").is(":visible")){
      $(".nav-settings").fadeOut();
    }else{
      $(".nav-settings").fadeIn();
    }
  })
</script>
